//Form
.form * {
    outline: none;
}

.form {
    max-width: 550px;
    margin: 0px auto;
    color: $white;
    padding: 0 30px;

    &__title {
        font-size: 40px;
        font-weight: 700;
        margin: 20px 0;
        text-align: center;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__label {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }

    &__input {
        height: 50px;
        padding: 0 20px;
        border-radius: 15px;
        width: 100%;
        font-size: 18px;
        color: #bcbbbc;
        background-color: $background;
        border: 2px solid $border;
        transition: all 0.5s ease 0s;
    }

    &__input:focus {
        box-shadow: 0 0 15px $primary;
        transition: all 0.5s ease 0s;
    }

    .textarea {
        min-height: 120px;
        resize: vertical;
        padding: 20px;
        color: #bcbbbc;
        background-color: $background;
        border: 2px solid $border;
        border-radius: 15px;
        width: 100%;
    }

    .textarea:focus {
        box-shadow: 0 0 15px $primary;
    }

    &__label-star {
        color: $primary;
    }

    &__btn:hover {
        background-color: #a656d1;
    }
}

.form__body {
    position: relative;
}

.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 25, 26, 0.9) url('/src/img/loading.gif') center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

.checkbox {

    &__input {
        display: none;
    }

    &__input:checked+.checkbox__label::after {
        transform: scale(1);
    }

    &__label {
        font-size: 16px;
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    &__label::before {
        content: "";
        align-self: flex-start;
        flex: 0 0 24px;
        height: 24px;
        background-color: $white;
        border-radius: 4px;
        margin-right: 10px;
    }

    &__label::after {
        transition: all 0.5s ease 0s;
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: $primary;
        border-radius: 4px;
        transform: scale(0);
    }

    &__label a {
        color: $primary;
    }
}

.checkbox__label::before ._error {
    box-shadow: 0 0 15px $red;
}

.form__input._error,
.textarea._error {
    box-shadow: 0 0 15px $red;
}

//Popup
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
}

.popup__body {
    max-width: 600px;
    padding: 20px;
    background-color: $white;
    border-radius: 5px;
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    border-radius: 14px;
}

.popup.active .popup__body {
    transform: scale(1);
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
    text-decoration: none;
    font-size: 20px;
}

.popup__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.popup__text {
    font-size: 16px;
    line-height: 1.5;
}

.popup__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    max-width: 490px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: $primary;
    color: $white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px #18191a;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    overflow: hidden;
  }
  
  html > body > .wrapper {
    height: 100%;
    position: relative;
    overflow: auto;
  }